
.masonry {

margin: auto;
/*	display: block;
 -moz-column-width: 16em;
 -webkit-column-width: 16em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
 height: 2000px
*/

}

img {

	width: 100%;
	display: block;

}

.masonryItem, .masonrySize { width: 320px;}
